<p>
  Zippio converts Force.com unmanaged packages into zip files for easy retrieval.
<p>
  It is written using Ruby/Sinatra with <i>"Metaforce"</i> gem to access Force.com metadata API and <i>"Mechanize"</i> gem to simulate browser interactions.
</p>
<p>
  It is deployed on <i>Heroku</i>. It uses <i>"IronWorker"</i>, <i>"Redistogo"</i> and <i>"Pubnub"</i> Heroku addons for background worker processing. It stores zip files in <i>Google Drive</i>.
</p>
<p>
  Please enter the unmanaged package URL below:
</p>
<p style="text-align: center;">
  <input type="text" id="link" class="effect" value="https://na9.salesforce.com/packaging/installPackage.apexp?p0=04tE0000000UBwh" />
  <br />
  <input type="button" id="zip" class="effect" value="Zippio Now" />
</p>

<p>
  <strong>Try out these:</strong><br />
  <ul style="font-family: consolas, courier, monospace; font-size: 90%; padding-left: 10px; list-style-type: square; ">
    <li>
      https://na9.salesforce.com/packaging/installPackage.apexp?p0=04tA00000001lK6IAI
    </li>
    <li>
      https://na9.salesforce.com/packaging/installPackage.apexp?p0=04tE00000000S1GIAU
    </li>
    <li>
      https://na9.salesforce.com/packaging/installPackage.apexp?p0=04t60000000PpcWAAS
    </li>
    <li>
      https://na9.salesforce.com/packaging/installPackage.apexp?p0=04t500000001knlAAA
    </li>
    <li>
      https://na9.salesforce.com/packaging/installPackage.apexp?p0=04tE0000000UBwh
    </li>
    <li>
      https://na9.salesforce.com/packaging/installPackage.apexp?p0=04tA00000002hslIAA
    </li>
    <li>
      https://na9.salesforce.com/packaging/installPackage.apexp?p0=04td0000000A1Y3
    </li>
  </ul>
</p>

<script type="text/javascript">
$(function() {

  $('#zip').on('click', function() {
    var regex = /(p0%3D|p0=)([a-zA-Z0-9]{15})/g
    var matches = regex.exec($('#link').val())

    if(matches) {
      alert('Package ID: '+ matches[2]);
      window.location = '/package/?id='+ matches[2] +'&reinstall=1';
    } else {
      alert('Invalid package link...');
    }
  });
});
</script>