<!-- package info table -->
<p>
  <div id="info">
    <div>
      <span class="k">Package ID</span>
      <span id="package-id" class="v"><%= @package_id %></span></div>
    <div>
      <span class="k">Name</span>
      <span id="package-name" class="v"><%= @package_name %></span></div>
    <div>
      <span class="k">Version</span>
      <span id="package-version" class="v"><%= @package_version %></span></div>
    <div>
      <span class="k">Publisher</span>
      <span id="package-publisher" class="v"><%= @package_publisher %></span>
    </div>
    <div>
      <span class="k">Description</span>
      <span id="package-description" class="v"><%= @package_description %></span>
    </div>
    <div>
      <span class="k">Status</span>
      <span id="package-status" class="v"><%= @status %></span>
    </div>
  </div>
</p>

<!-- package_file - Google Drive file's resource_id -->
<input type="hidden" name="file" val="<%= @package_file %>" />

<!-- download button - hidden unless package status is "retrieved" -->
<div id="download" style="<% if @status != "retrieved" %> display: none;<% end %>">
  <p style="text-align: center;">
    The package is ready to be downloaded :)
  </p>
  <p style="text-align: center; margin-top: 24px; margin-bottom: 16px;">
    <a href="/package/download/?id=<%= @package_id %>" class="button effect">Download Package</a>
  </p>
</div>

<!-- only listen to workers' updates via PUBNUB if package status is not "retrieved" -->
<% if @status != "retrieved" %>
<p>
  <div id="updates">
    <span class="status" style="display: block;">
      2 steps process: #1 Installation then #2 Retrieval
    </span>
    <span class="status" style="display: block;">
      You can wait or come back in a moment to download the zip...
    </span>
  </div>
</p>
<div pub-key="<%= @pub_key %>" sub-key="<%= @sub_key %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<script>
(function(){
  // LISTEN FOR MESSAGES
  PUBNUB.subscribe({
    channel    : "<%= @package_id %>", // CONNECT TO THIS CHANNEL.
    restore    : false,

    callback   : function(m) { // RECEIVED A MESSAGE.
      //console.log(m);

      if(m["type"] != 'package') { // just append to #updates
        $('<div class="'+ m["type"] +'">'+ m["text"] +'</div>').appendTo('#updates');
      } else { // update package info
        $('#package-name').html(m["name"]);
        $('#package-version').html(m["version"]);
        $('#package-publisher').html(m["publisher"]);
        $('#package-description').html(m["description"]);
      }
      
      // when retrieval is complete, show the download box with slight delay
      if(m["text"] == "Retrieval complete...") {
        $('#package-status').html('retrieved');
        $('<div class="status">Now your package zip is ready...</div>').appendTo('#updates');

        window.setTimeout(function() {
          $('#updates').fadeOut('fast', function() {
            $('#download').fadeIn('fast');
          });
        }, 1800);
      }

      // when installation is complete, remove/fadeOut the updates
      if(m["text"] == "Installation complete..." || m["text"] == "Already installed...") {
        $('#package-status').html('installed');

        $('#updates > div').addClass('del');

        $('<div class="status">Now continuing with retrieval...</div>').appendTo('#updates');

        window.setTimeout(function() {
          $('#updates > div.del').fadeOut('fast');
        }, 6000);
      }
    },

    disconnect : function() { // LOST CONNECTION.
      console.log("PUBNUB: Connection Lost. Will be reconnected.");
    },

    reconnect  : function() { // CONNECTION RESTORED.
      console.log("PUBNUB: And we're Back!");
    },

    connect    : function() { // CONNECTION ESTABLISHED.
      console.log("PUBNUB: Connected.");
    }
  });
  
 
})();
</script>
<% end %>